.notifications__item {
    overflow: hidden;
    position: relative;
    opacity: 1;
    height: auto;
}

.notifications__item--clickable {
    cursor: pointer;
}

/* Мобильная версия (по умолчанию) */
.notifications__animation--bottom-left,
.notifications__animation--bottom-right,
.notifications__animation--bottom-center {
    animation: slideInTop 0.3s ease-out forwards;
}

.notifications__animation--bottom-left.notifications__item--hidden,
.notifications__animation--bottom-right.notifications__item--hidden,
.notifications__animation--bottom-center.notifications__item--hidden {
    animation: slideOutBottom 0.2s ease-out forwards, collapseHeight 0.2s ease-out 0.1s forwards;
}

.notifications__animation--top-left,
.notifications__animation--top-right,
.notifications__animation--top-center {
    animation: slideInBottom 0.2s ease-out forwards;
}

.notifications__animation--top-left.notifications__item--hidden,
.notifications__animation--top-right.notifications__item--hidden,
.notifications__animation--top-center.notifications__item--hidden {
    animation: slideOutTop 0.2s ease-out forwards, collapseHeight 0.2s ease-out 0.1s forwards;
}

@keyframes collapseHeight {
    0% {
        max-height: 800px;
    }
    100% {
        max-height: 0;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideInTop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutBottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .notifications__animation--bottom-left,
    .notifications__animation--top-left {
        animation: slideInRight 0.3s ease-out forwards;
    }

    .notifications__animation--bottom-left.notifications__item--hidden,
    .notifications__animation--top-left.notifications__item--hidden {
        animation: slideOutLeft 0.2s ease-in forwards, collapseHeight 0.2s ease-out 0.1s forwards;
    }

    .notifications__animation--bottom-right,
    .notifications__animation--top-right {
        animation: slideInLeft 0.3s ease-out forwards;
    }

    .notifications__animation--bottom-right.notifications__item--hidden,
    .notifications__animation--top-right.notifications__item--hidden {
        animation: slideOutRight 0.2s ease-out forwards, collapseHeight 0.2s ease-out 0.1s forwards;
    }

    .notifications__animation--top-center {
        animation: slideInBottom 0.2s ease-out forwards;
    }

    .notifications__animation--top-center.notifications__item--hidden {
        animation: slideOutTop 0.2s ease-out forwards, collapseHeight 0.2s ease-out 0.1s forwards;
    }

    .notifications__animation--bottom-center {
        animation: slideInTop 0.3s ease-out forwards;
    }

    .notifications__animation--bottom-center.notifications__item--hidden {
        animation: slideOutBottom 0.2s ease-out forwards, collapseHeight 0.2s ease-out 0.1s forwards;
    }
}
