.InputContainer {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    transition: border-color 0.25s ease-out;
    overflow: hidden;
    background: #fff;
}

.InputContainerRegular {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.InputContainerUnderlined {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.InputContainerSpace {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.InputContainerRegular:focus-within {
    border-color: rgba(0, 0, 0, 1);
}

.InputContainerUnderlined:focus-within {
    border-color: rgba(0, 0, 0, 1);
}

.InputContainerSpace:focus-within {
    border-color: rgba(0, 0, 0, 1);
}

.Input {
    border: 0;
    outline: 0;
}

.InputExtraSmall {
    padding: 0.25rem 0.45rem;
    font-size: 0.65rem;
}

.InputSmall {
    padding: 0.25rem 0.45rem;
    font-size: 0.75rem;
}

.InputMedium {
    padding: 0.25rem 0.45rem;
    font-size: 1rem;
}

.InputLarge {
    padding: 0.25rem 0.45rem;
    font-size: 1.25rem;
}

.InputExtraLarge {
    padding: 0.25rem 0.45rem;
    font-size: 1.5rem;
}

.InputSideComponentContainerLeft {
    padding: 0 0.45rem 0 0.25rem;
}

.InputSideComponentContainerRight {
    padding: 0 0.25rem 0 0.45rem;
}

.InputSideComponentContainerExtraSmall {
    font-size: 0.65rem;
}

.InputSideComponentContainerSmall {
    font-size: 0.75rem;
}

.InputSideComponentContainerMedium {
    font-size: 1rem;
}

.InputSideComponentContainerLarge {
    font-size: 1.25rem;
}

.InputSideComponentContainerExtraLarge {
    font-size: 1.5rem;
}

.InputInvalid {
    border: 1px solid rgba(255, 0, 0, 0.75);
}

.InputDisabled {
    pointer-events: none;
    opacity: 0.5;
}
