@import '../../shared/styles/fonts.css';

.InputContainer {
    --regular-border: #e0e0e0;
    --regular-border-hover: #21272b;
    --regular-border-focus: #2b83ba;
    --regular-color-placeholder: #7a7f82;
    --regular-disabled-background: #e0e0e0;
    --regular-disabled-color: #7a7f82;
    --invalid-color: #d73027;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    transition: border-color 0.25s ease-out;
    overflow: hidden;
    background: #fff;
}

.InputContainer--Regular {
    border: 1px solid var(--regular-border);
    border-radius: 5px;
}

.InputContainer--Regular:focus-within {
    border-color: var(--regular-border-focus);
    box-shadow: 0 0 0 1px var(--regular-border-focus);
}

.InputContainer--Regular:not(.Input--Invalid):hover {
    border-color: var(--regular-border-hover);
}

.Input {
    border: 0;
    outline: 0;
    font-family: 'IBM Plex Sans Regular', sans-serif;
}

.Input::placeholder {
    color: var(--regular-color-placeholder);
}

.Input--ExtraSmall {
    padding: 0.25rem 0.45rem;
    font-size: 0.65rem;
}

.Input--Small {
    padding: 0.25rem 0.45rem;
    font-size: 0.75rem;
}

.Input--Medium {
    padding: 0.25rem 0.45rem;
    font-size: 1rem;
}

.Input--Large {
    padding: 0.25rem 0.45rem;
    font-size: 1.25rem;
}

.Input--ExtraLarge {
    padding: 0.25rem 0.45rem;
    font-size: 1.5rem;
}

.InputSideComponentContainerLeft {
    padding: 0 0.45rem 0 0.25rem;
}

.InputSideComponentContainerRight {
    padding: 0 0.25rem 0 0.45rem;
}

.InputSideComponentContainer--ExtraSmall {
    font-size: 0.65rem;
}

.InputSideComponentContainer--Small {
    font-size: 0.75rem;
}

.InputSideComponentContainer--Medium {
    font-size: 1rem;
}

.InputSideComponentContainer--Large {
    font-size: 1.25rem;
}

.InputSideComponentContainer--ExtraLarge {
    font-size: 1.5rem;
}

.Input--Invalid {
    border: 1px solid var(--invalid-color);
    box-shadow: 0 0 0 1px var(--invalid-color);
}

.Input--Disabled {
    pointer-events: none;
    background: var(--regular-disabled-background);
    color: var(--regular-disabled-color);
}
