.Button {
    --background-primary: #2b83ba;
    --background-primary-hovered: #3b99d4;
    --background-primary-active: #174866;
    --background-secondary: #53585c;
    --background-secondary-hovered: #777c80;
    --background-secondary-active: #21272b;
    --background-outline: #fff;
    --background-outline-hovered: #53585c;
    --background-outline-active: #21272b;
    --background-danger: #d73027;
    --background-danger-hovered: #eb483f;
    --background-danger-active: #a32a24;
    --border-radius: 4px;
    --color: #fff;
    --padding: 8px 24px;

    background: var(--background);
    color: var(--color);
    padding: var(--padding);
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.Button.Button--primary {
    background: var(--background-primary);
}

.Button.Button--primary:hover {
    background: var(--background-primary-hovered);
}

.Button.Button--primary:active {
    background: var(--background-primary-active);
}

.Button.Button--primary-disabled {
    cursor: default;
    color: #7a7f82;
    background: #e0e0e0;
}

.Button.Button--secondary {
    background: var(--background-secondary);
}

.Button.Button--secondary:hover {
    background: var(--background-secondary-hovered);
}

.Button.Button--secondary:active {
    background: var(--background-secondary-active);
}

.Button.Button--secondary-disabled {
    cursor: default;
    color: #7a7f82;
    background: #e0e0e0;
}

.Button.Button--outline {
    color: #21272b;
    box-shadow: 0 0 0 1px #21272b;
    background: var(--background-outline);
}

.Button.Button--outline:hover {
    color: #fff;
    background: var(--background-outline-hovered);
    box-shadow: 0 0 0 0 transparent;
}

.Button.Button--outline:active {
    color: #fff;
    box-shadow: 0 0 0 0 transparent;
    background: var(--background-outline-active);
}

.Button.Button--outline-disabled {
    cursor: default;
    color: #7a7f82;
    backgrund: #7a7f82;
    box-shadow: 0 0 0 1px #7a7f82;
}

.Button.Button--danger {
    background: var(--background-danger);
}

.Button.Button--danger:hover {
    background: var(--background-danger-hovered);
}

.Button.Button--danger:active {
    background: var(--background-danger-active);
}

.Button.Button--danger-disabled {
    cursor: default;
    background: #e0e0e0;
    color: #7a7f82;
}
