@import '../../shared/styles/fonts.css';

.Button {
    --background-primary: #2b83ba;
    --background-primary-hovered: #3b99d4;
    --background-primary-active: #174866;
    --background-secondary: #53585c;
    --background-secondary-hovered: #777c80;
    --background-secondary-active: #21272b;
    --background-outline: #fff;
    --background-outline-hovered: #53585c;
    --background-outline-active: #21272b;
    --background-danger: #d73027;
    --background-danger-hovered: #eb483f;
    --background-danger-active: #a32a24;
    --border-radius: 4px;
    --color: #fff;
    --focus-color: #49c8ff;
    --padding-small: 4px 24px;
    --padding-medium: 8px 24px;
    --padding-large: 12px 24px;

    background: var(--background);
    color: var(--color);
    border: none;
    border: 1px solid transparent;
    outline: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-family: 'IBM Plex Sans Regular', sans-serif;
}

.Button:is(.actionable):focus {
    box-shadow: 0 0 0 3px var(--focus-color);
}

.Button--small {
    padding: var(--padding-small);
}

.Button--medium {
    padding: var(--padding-medium);
}

.Button--large {
    padding: var(--padding-large);
}

.Button.Button--primary {
    background: var(--background-primary);
}

.Button.Button--primary:is(.actionable):hover {
    background: var(--background-primary-hovered);
}

.Button.Button--primary:is(.actionable):active {
    background: var(--background-primary-active);
}

.Button.Button--primary:is(.disabled) {
    cursor: default;
    color: #7a7f82;
    background: #e0e0e0;
}

.Button.Button--secondary {
    background: var(--background-secondary);
}

.Button.Button--secondary:is(.actionable):hover {
    background: var(--background-secondary-hovered);
}

.Button.Button--secondary:is(.actionable):active {
    background: var(--background-secondary-active);
}

.Button.Button--secondary:is(.disabled) {
    cursor: default;
    color: #7a7f82;
    background: #e0e0e0;
}

.Button.Button--outline {
    color: #21272b;
    border: 1px solid #21272b;
    background: var(--background-outline);
}

.Button.Button--outline:is(.actionable):hover {
    color: #fff;
    background: var(--background-outline-hovered);
    border: 1px solid transparent;
}

.Button.Button--outline:is(.actionable):active {
    color: #fff;
    border: 1px solid transparent;
    background: var(--background-outline-active);
}

.Button.Button--outline:is(.disabled) {
    cursor: default;
    color: #7a7f82;
    background: #fff;
    border: 1px solid #7a7f82;
}

.Button.Button--danger {
    background: var(--background-danger);
}

.Button.Button--danger:is(.actionable):hover {
    background: var(--background-danger-hovered);
}

.Button.Button--danger:is(.actionable):active {
    background: var(--background-danger-active);
}

.Button.Button--danger:is(.disabled) {
    cursor: default;
    background: #e0e0e0;
    color: #7a7f82;
}
