.footnoteContainer {
    position: relative;
}

.supFootnote {
    position: absolute;
    left: 100%;
}

.smallerSupFootnoteSize {
    font-size: 0.6rem;
    font-weight: bold;
}

.parenthesisFootnote::before,
.parenthesisFootnote::after {
    position: absolute;
    bottom: 1px;
}

.parenthesisFootnote::before {
    content: '\0028';

    right: 100%;
}

.parenthesisFootnote::after {
    content: '\0029';

    left: 100%;
}
