.notification_item {
    overflow: hidden;
    position: relative;
    opacity: 1;
    height: auto;
}

.notification_item.pointer {
    cursor: pointer;
}

.animation_bottom_left,
.animation_top_left {
    animation: slideInRight 0.3s ease-out forwards;
}

.animation_bottom_left.hidden,
.animation_top_left.hidden {
    animation: slideOutLeft 0.2s ease-in forwards, collapseHeight 0.2s ease-out 0.1s forwards;
}

.animation_bottom_right,
.animation_top_right {
    animation: slideInLeft 0.3s ease-out forwards;
}

.animation_bottom_right.hidden,
.animation_top_right.hidden {
    animation: slideOutRight 0.2s ease-out forwards, collapseHeight 0.2s ease-out 0.1s forwards;
}

.animation_top_center {
    animation: slideInBottom 0.2s ease-out forwards;
}

.animation_top_center.hidden {
    animation: slideOutTop 0.2s ease-out forwards, collapseHeight 0.2s ease-out 0.1s forwards;
}

.animation_bottom_center {
    animation: slideInTop 0.3s ease-out forwards;
}

.animation_bottom_center.hidden {
    animation: slideOutBottom 0.2s ease-out forwards, collapseHeight 0.2s ease-out 0.1s forwards;
}


@keyframes collapseHeight {
    0% {
        max-height: 800px;
    }
    100% {
        max-height: 0;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideInTop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutBottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}
