.Content {
    --breakpoint-extra-small: 36rem;
    --breakpoint-small: 48rem;
    --breakpoint-medium: 62rem;
    --breakpoint-large: 75rem;
    --breakpoint-extra-large: 87.5rem;
    --content-padding-horizontal: 1 rem;

    padding-left: var(--content-padding-horizontal);
    padding-right: var(--content-padding-horizontal);
}

.ContentCenter{
    margin: 0 auto;
}

.Content.maxWidthExtraSmall {
    max-width: var(--breakpoint-extra-small);
}

.Content.maxWidthSmall {
    max-width: var(--breakpoint-small);
}

.Content.maxWidthMedium {
    max-width: var(--breakpoint-medium);
}

.Content.maxWidthLarge {
    max-width: var(--breakpoint-large);
}

.Content.maxWidthExtraLarge {
    max-width: var(--breakpoint-extra-large);
}