.TextInput {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.TextInput--ClearButton {
    transition: 0.15s opacity ease-in-out;
    visibility: visible;
    display: block;
    cursor: pointer;
    height: 100%;
    background: transparent;
    padding: 0 0.5rem;
    border: unset;
}

.TextInput--ClearButtonHidden {
    outline: 0;
    opacity: 0;
    pointer-events: none;
}
