.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card {
    width: 100%;
    padding: 8px 20px;
}

.hr {
    width: 100%;
}

.btn {
    padding: 2px 8px;
    border: 1px solid black;
    background: orange;
    border-radius: 4px;
    cursor: pointer;
}

.code-block {
    padding: 0 20px;
    width: 350px;
    height: auto;
    background-color: #e5e2e2;
    border-radius: 4px;
    white-space: pre;
}
