.Checkbox--container {
    display: flex;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.Checkbox--input {
    display: none;
}

.Checkbox {
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 8px;
}

.Checkbox:not(.Checkbox--isIndeterminate) {
    background-color: #fff;
    border: 1px solid #21272b;
}

/* Disabled checkbox && not checked */

.Checkbox--isDisabled:not(.Checkbox--isChecked) {
    cursor: default;
}

.Checkbox--isDisabled:not(.Checkbox--isChecked) .Checkbox--label {
    color: #7a7f82;
}

.Checkbox--isDisabled:not(.Checkbox--isChecked) .Checkbox {
    border-color: #adb0b2;
}

/* Not checked  */

.Checkbox--container:hover
    .Checkbox:not(.Checkbox--isChecked):not(.Checkbox--isDisabled):not(.Checkbox--isIndeterminate) {
    background-color: #e0e0e0;
}

.Checkbox--container:active
    .Checkbox:not(.Checkbox--isChecked):not(.Checkbox--isDisabled):not(.Checkbox--isIndeterminate) {
    background-color: #adb0b2;
}

/* Checked */

.Checkbox--container:hover
    .Checkbox:is(.Checkbox--isChecked):not(.Checkbox--isDisabled):not(.Checkbox--isIndeterminate) {
    background-color: #3b99d4;
    border-color: #3b99d4;
}

.Checkbox--container:active
    .Checkbox:is(.Checkbox--isChecked):not(.Checkbox--isDisabled):not(.Checkbox--isIndeterminate) {
    background-color: #174866;
    border-color: #174866;
}

/* Checked */

.Checkbox--isChecked:not(.Checkbox--isDisabled) {
    background-color: #2b83ba;
    border-color: #2b83ba;
}

/* Disabled checkbox && is checked */

.Checkbox--isChecked:is(.Checkbox--isDisabled) {
    background-color: #adb0b2;
}

/* Indeterminate */

.Checkbox--isIndeterminate {
    background-color: #2b83ba;
    border-color: #2b83ba;
}
