input,
select,
textarea {
    width: 100%;

    border: none;
    outline: none;
    background-color: inherit;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
