.Overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.OverlayCustomBackgroundColorStory {
    --overlay-background-color: rgba(30, 30, 130, 0.3);
}
