.use-array__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.use-array__row {
    width: 424px;
    display: flex;
    gap: 8px;
}

.use-array__input {
    min-width: 0;
    flex-grow: 1;
}

.use-array__button {
    flex-basis: 100px;
    flex-shrink: 0;
}
