.container { 
  display: flex; 
  flex-direction: column; 
  gap: 8px; 
}

.row {
  display: flex;
  gap: 8px;
}

.leftPart {
  box-sizing: border-box;
  display: flex;
  width: 200px;
  gap: 4px;
}

.filterInput {
  min-width: 0;
}