.Toggle--container {
    position: relative;
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: none;
    width: 32px;
    height: 16px;
    border-radius: 24px;

    --toggle-toggled-color: #2b83ba;
    --toggle-untoggled-color: #adb0b2;
    --toggle-toggled-hover-color: #3b99d4;
    --toggle-untoggled-hover-color: #cccccc;
    --toggle-toggled-active-color: #174866;
    --toggle-untoggled-active-color: #777c80;
    --toggle-disabled-color: #e0e0e0;
    --focus-color: #49c8ff;
    transition: background-color 0.2s ease-out;
    outline: none;
}

.Toggle--checkboxInput {
    display: none;
}

.Toggle--container:not(.Toggle--container-isDisabled) {
    cursor: pointer;
}

.Toggle--container:is(.Toggle--container-isDisabled) {
    background-color: var(--toggle-disabled-color);
    pointer-events: none;
}

.Toggle--container:not(.Toggle-toggled):not(.Toggle--container-isDisabled) {
    background-color: var(--toggle-untoggled-color);
}

.Toggle--container:not(.Toggle--container-isDisabled):focus {
    box-shadow: 0 0 0 3px var(--focus-color);
}

.Toggle--container:not(.Toggle-toggled):not(.Toggle--container-isDisabled):hover {
    background-color: var(--toggle-untoggled-hover-color);
}

.Toggle--container:not(.Toggle-toggled):not(.Toggle--container-isDisabled):active {
    background-color: var(--toggle-untoggled-active-color);
}

.Toggle--container:is(.Toggle--toggled):not(.Toggle--container-isDisabled) {
    background-color: var(--toggle-toggled-color);
}

.Toggle--container:is(.Toggle--toggled):not(.Toggle--container-isDisabled):hover {
    background-color: var(--toggle-toggled-hover-color);
}

.Toggle--container:is(.Toggle--toggled):not(.Toggle--container-isDisabled):active {
    background-color: var(--toggle-toggled-active-color);
}

.Toggle--sphere {
    position: absolute;
    background: #fff;
    width: 10px;
    height: 10px;
    left: 3px;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

.Toggle--sphere-toggled {
    transform: translateX(16px);
}
