.Link {
    color: #2b83ba;
    font-family: 'IBM Plex Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.Link:not(.Link--disabled):hover {
    color: #84cdfa;
}

.Link--disabled {
    cursor: default;
    pointer-events: none;
    color: #7a7f82;
}
